<div id="posts">Loading...</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://platform.instagram.com/en_US/embeds.js"></script>
<script type="text/javascript">// <![CDATA[

$.ajax({
  url: 'https://greenpompey.org.uk/extra/phpsocialcore/get.php',
  error: function() {
    $('#posts').html('<p>An error has occurred</p>');
  },
  success: function(data) {

    $("#posts").html("");

	for (var i = 0; i < data.posts.length; i++)
	{
        var post = data.posts[i];
		var title = $('<h1>').text(post.title);
		var description =  $('<div>').html(post.excerpt);
        var readmore = $('<p>');
		var readmorelink = $('<a>').text("Read more"); 
		readmorelink.attr("href", post.link);
		readmore.append(readmorelink);

		$('#posts')
		.append(title)
		.append(description).append(readmore);
	}

	//https://stackoverflow.com/questions/27408917/instagram-embeds-not-working-when-adding-embeds-dynamically
	window.instgrm.Embeds.process();
  },
});

// ]]></script>
<p><em> </em></p>
<p><em>The views and opinions expressed in this blog are those of the authors and do not necessarily reflect the official policy or position of any other party, agency, organization, employer or company.</em></p>
</div>
